#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.host-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.host-header {
  background-color: #242424;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.host-header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

.host-content {
  padding: 0;
  margin: 0;
  position: relative; /* Add position relative for absolute positioning of canvas */
  flex-grow: 1;
}

.host-content > * {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
